.wrapper {
  @apply relative inline-flex;

  .form {
    @apply p-4 absolute right-2 w-60 z-20 rounded-lg;
    top: calc(100% + 1.4rem);
    background-color: #fff;

    .register {
      @apply text-gray-400 bg-white block text-center w-full;
      font-size: 0.7rem;
    }
  }

  .button {
    @apply shadow-icon;
  }
}
