@import '../../../../assets/styles/mixins';

:global(.dark) .sidebar > div {
  background-image: linear-gradient(45deg, #242428, #363940);
  border-top: 2px solid rgba(255, 255, 255, .2);
  border-bottom: 2px solid rgba(255, 255, 255, .1);
}

.sidebar {
  @apply relative;

  > div {
    @include shadow('lg', false);
    @apply absolute w-full h-[70%] min-h-[500px] flex flex-col justify-between text-center;
    background-image: linear-gradient(45deg, #dee3f9, #bfc7f0);
    top: 50%;
    transform: translateY(-50%);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top: 2px solid rgba(255, 255, 255, .7);
    border-bottom: 2px solid rgba(255, 255, 255, .6);

    .logo {
      @apply block text-5xl text-[#0053be] gdark:text-blue-300;
    }

    .menu {
      .item {
        > a {
          @apply block mb-5 text-xl;

          svg {
            @apply mx-auto transition-colors fill-[#1c2034] gdark:fill-white gdark:opacity-80 gdark:transition-opacity;
          }
        }

        &:hover svg {
          @apply fill-[#666d91] gdark:fill-white gdark:opacity-100;
        }

        &.active svg {
          @apply fill-primary gdark:fill-purple-400;
        }
      }
    }
  }
}
