@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  @apply text-base bg-[#eff1ff] dark:bg-[#36363d] p-6;
  font-family: 'OpenSans', sans-serif;
  //font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input {
  @apply border-none outline-0;
}

button {
  @apply cursor-pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-scroll {
  @apply overflow-y-auto;

  &::-webkit-scrollbar {
    @apply w-1.5 h-1;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-primary bg-opacity-50;
  }
  &::-webkit-scrollbar-track {
    @apply bg-primary bg-opacity-10;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      @apply bg-opacity-60;
    }
    &::-webkit-scrollbar-track {}
  }
}
