html,
body {
  @apply text-base;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eff1ff;
}

body {
  @apply px-6 py-10;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button, input {
  @apply border-none outline-0;
}

button {
  @apply cursor-pointer;
}
