 $gray: #797979;

.input {
  @apply relative block mb-4 bg-white;

  > input {
    @apply pb-2 w-full text-base;

    &::placeholder {
      color: $gray;
    }
  }
}

.error {
  @apply absolute -bottom-5 left-0 w-full text-primary;
  font-size: 0.75rem;
}
