@import '../../../assets/styles/mixins';

.input {
  @apply relative block rounded-md bg-white mb-5 gdark:bg-zinc-900 gdark:text-white;

  > input {
    @apply py-2 px-3 w-full text-xs bg-inherit;
    @include shadow();
    border-radius: inherit;

    &::placeholder {
      @apply text-gray-400 gdark:text-white gdark:text-opacity-40;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &.withIcon {
    @apply mb-0;

    > input {
      @apply pl-10;
    }
  }

  > .icon {
    @apply absolute top-[50%] -translate-y-[50%] left-3 text-gray-500 text-base;
  }
}

.error {
  @apply absolute -bottom-4 left-0 w-full text-primary gdark:text-purple-400;
  font-size: 0.75rem;
}
