@import '../../../assets/styles/mixins';

.input {
  @apply relative block mb-5 bg-white rounded-md;

  > input {
    @apply py-2 px-3 w-full text-xs;
    @include shadow();
    border-radius: inherit;

    &::placeholder {
      @apply text-gray-400 font-light;
    }

    &:focus-visible {
      outline: none;
    }
  }
}

.error {
  @apply absolute -bottom-4 left-0 w-full text-primary;
  font-size: 0.75rem;
}
