
:global(.dark) .item {
  background-color: #1f1f23;
  border-top: 2px solid rgba(255, 255, 255, .1);
  border-left: 2px solid rgba(255, 255, 255, .1);
}

.item {
  @apply relative rounded-2xl cursor-default p-5 transition-all gdark:text-white;
  background-color: #f2f7ff;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;

  &::before {
    content: '';
    @apply absolute w-full h-full rounded-2xl -bottom-1 left-0 transition-all gdark:bg-purple-700 gdark:bg-opacity-50;
    background-color: #b7c5f3;
    box-shadow: 0 10px 20px rgba(37, 12, 171, 0.3);
    z-index: -1;
  }

  &::after {
    content: '';
    @apply absolute w-5 rounded-tl-xl rounded-bl-xl -bottom-1 right-0 transition-all;
    height: 5.3rem;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: inset 5px 4px 7px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }

  &.color_1::after {
    background-image: linear-gradient(to top, #4978fa, #3a62d2);
  }

  &.color_2::after {
    background-image: linear-gradient(to top, #65caef, #4ca6c4);
  }

  &.color_3::after {
    background-image: linear-gradient(to top, #746fd6, #5d58b4);
  }

  &.color_4::after {
    background-image: linear-gradient(to top, #00d098, #00a97b);
  }

  .name {
    @apply font-light opacity-70 mb-1.5;
  }

  .icon {
    @apply text-stone-700 mb-2 text-2xl gdark:text-white;
  }

  .value {
    @apply text-lg font-medium;
    min-height: 42px;
  }
}
