@import '../../../assets/styles/mixins';

.wrapper {
  @apply grid h-screen;
  grid-template-columns: 1fr 18fr;
  height: calc(100vh - 1.5rem - 1.5rem);

  .content {
    @include shadow('lg', false);
    @apply rounded-3xl bg-[#ebeffd] gdark:bg-zinc-800;
    z-index: 1;
  }
}

.main {
  @apply px-6 pt-4 pb-6 overflow-y-auto;
  height: calc(100vh - 120px - 1.5rem - 1.5rem);
}
