.file {
  @apply m-auto;

  > h1 {
    @apply text-xl font-semibold mb-5;
  }

  > label {
    @apply block;

    > input {
      @apply cursor-pointer block text-sm text-gray-500 file:mr-4 file:py-2
      file:px-4 file:rounded-full file:border-0 file:text-sm
      file:font-semibold file:bg-purple-700 file:bg-opacity-50 file:text-white
      hover:file:bg-opacity-80 file:transition-colors;
    }
  }
}
