
.table-item {
  @apply relative flex-center-between flex-wrap bg-white gdark:bg-zinc-700 gdark:bg-opacity-60 gdark:text-white rounded-md w-full p-3 mb-3;
  box-shadow: 0 4px 10px rgba(45, 8, 125, 0.2);

  .info {
    @apply flex items-center gap-5 w-11/12;

    img {
      @apply rounded;
    }
  }

  .actions {
    @apply flex items-center gap-3 ml-auto;

    > a {
      @apply hover:opacity-100 opacity-75 transition-opacity;
    }

    > button {
      @apply hover:opacity-100 opacity-75 transition-opacity text-red-700 gdark:text-red-500;
    }
  }
}
