
:global(.dark) .fees {
  background-image: linear-gradient(45deg, #38176f, #1b3182);
}

.fees {
  @apply relative text-white text-center rounded-2xl px-5 pt-16 pb-14;
  background-image: linear-gradient(45deg, #813bfb, #3f68fe);
  box-shadow: 0 5px 20px rgba(37, 12, 171, 0.3);

  &::after {
    content: '';
    @apply absolute w-3/4 h-7 rounded-b-2xl rounded-bl-xl top-0 gdark:bg-none gdark:bg-white gdark:bg-opacity-20;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to top, #e4e4fd, #dfe5fc);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);
    z-index: 1;
  }

  .icon {
    @apply text-5xl mb-4 opacity-75;

    > svg {
      @apply mx-auto;
    }
  }

  .name {
    @apply font-light text-xs mb-1 opacity-70;
  }

  .total {
    @apply text-xl;
  }
}
